[Unit]
Description=Run Waybar window rewrite icon autogen periodically

[Timer]
OnBootSec=3m
OnUnitActiveSec=5m
Persistent=true
Unit=waybar-window-rewrite-autogen.service

[Install]
WantedBy=timers.target
