[Unit]
Description=Highly customizable Wayland bar for Sway and Wlroots based compositors
Documentation=https://github.com/Alexays/Waybar/wiki/
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target
StartLimitIntervalSec=5
StartLimitBurst=10

[Service]
ExecStart=/usr/bin/waybar
ExecReload=/usr/bin/kill -SIGTERM $MAINPID
Restart=always
RestartSec=300ms

[Install]
WantedBy=graphical-session.target
