[Unit]
Description=Run Waybar window rewrite icon autogen every 10 minutes

[Timer]
OnBootSec=3m
OnUnitActiveSec=10m
Persistent=true
Unit=waybar-window-rewrite-autogen.service

[Install]
WantedBy=timers.target
