[Unit]
Description=Restart Waybar when config changes
After=waybar.service
StartLimitIntervalSec=0
StartLimitBurst=0

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl --user restart waybar.service

[Install]
WantedBy=default.target
