# Disable update check
if ($env:POWERSHELL_UPDATECHECK -ne 'LTS')
{
    [System.Environment]::SetEnvironmentVariable('POWERSHELL_UPDATECHECK', 'LTS', 'User')
}


# Related Files
$filesDir = Join-Path $HOME ".config/powershell/"
$files = @{
    zoxide = Join-Path $filesDir "zoxide.ps1"
    apiKeys = Join-Path $filesDir "api-keys.ps1"
    completion = Join-Path $filesDir "completion.ps1"
    completionHelper = Join-Path $filesDir "bash-complete.sh"
    alias = Join-Path $filesDir "alias.ps1"
    chezmoi = Join-Path $filesDir "chezmoi.ps1"
}

# Ensure all files exist
foreach ($key in $files.Keys) {
    if (-Not (Test-Path $files[$key])) {
        Write-Error "Missing File: $key → $($files[$key])"
    }
}


### Setup-PSReadline
# Show multi line history (Toggle with F2)
Set-PSReadLineOption -PredictionViewStyle ListView
# Show multi line autocomplete
Set-PSReadLineKeyHandler -Key Tab -Function MenuComplete
# Match with already written command
# Set-PSReadLineKeyHandler -Key UpArrow -Function HistorySearchBackward
# Set-PSReadLineKeyHandler -Key DownArrow -Function HistorySearchForward


### Oh My Posh init
{{ if .posh -}}
oh-my-posh init --config "$HOME/.config/oh-my-posh.yaml" pwsh | Invoke-Expression
{{- end }}

. $files.apiKeys
. $files.zoxide
. $files.completion
. $files.alias
. $files.chezmoi
