# Linux Powershell

$env:PATH += ":$HOME/.local/bin/"

# Load chezmoi data

$chezmoiProfile = Join-Path $HOME ".config/profile.ps1"
$chezmoiAPI = Join-Path $HOME ".config/api_keys.ps1"

. $chezmoiProfile
. $chezmoiAPI
