# Linux Powershell

$env:PATH += ":$HOME/.local/bin/"

# yay no confirm alias
if (Get-Command yay -ErrorAction SilentlyContinue) {
    function yay-no-confirm {
        param (
            [Parameter(ValueFromRemainingArguments = $true)]
            [string[]]$Args
        )
        yay --noconfirm @Args
    }

    Set-Alias -Name yyay -Value yay-no-confirm | Out-Null
}


# Load chezmoi data

$chezmoiProfile = Join-Path $HOME ".config/profile.ps1"
$chezmoiAPI = Join-Path $HOME ".config/api_keys.ps1"

. $chezmoiProfile
. $chezmoiAPI
