{{- /* Install PowerShell on Arch Linux if missing */ -}}
{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.idLike "arch") -}}
#!/bin/sh

if ! command -v pwsh >/dev/null 2>&1; then
  # Set color for output
  BLUE='\033[0;34m'
  NC='\033[0m' # No Color

  printf "${BLUE}==> 🔍 'pwsh' command not found. Installing PowerShell...${NC}\n"
  yay -S --noconfirm --needed powershell-bin
fi

{{ end -}}
